
.sender{
    float: right !important;
    background: url('../media/sender_ms.png') no-repeat;
    background-size: 100% 100%;
    max-width: 40%;
    margin-left: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: max-content;
    margin-bottom: 10px !important;

}
.receiver{
    text-align: left;
    background: url('../media/receiver_ms.png') no-repeat;
    background-size: 100% 100%;
    max-width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: max-content;
    margin-bottom: 10px !important;
}


.receiverP{

    margin-right: 20px;
    margin-left: max(10px, 12%);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    min-width: 50px;
}

.senderP{

    margin-right: max(25px, 12%);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    min-width: 50px;
}