{% extends "../../public/SinCompromiso.html" %}
{% block scripts %}
<script type="text/javascript" src="/controllers/RegistroSCController.js"></script>
{% endblock %}
{% block contenido_principal %}
<div id="registroSC">
  <div class="form-horizontal">
    <div class="form-group text-center">
      <img srcset="../../media/addPic.png 2x" id="img0R" name="fotoR" style="margin-right: min(3%, 10px); background-size:contain;background-repeat: no-repeat; object-fit: none;" width="200" height="200">
      <img srcset="../../media/addPic.png 2x" id="img1R" name="fotoR" style="margin-right: min(3%, 10px); background-size:contain;background-repeat: no-repeat; object-fit: none;" width="200" height="200">
      <img srcset="../../media/addPic.png 2x" id="img2R" name="fotoR" style="margin-right: min(3%, 10px); background-size:contain;background-repeat: no-repeat; object-fit: none;" width="200" height="200">
      <img srcset="../../media/addPic.png 2x" id="img3R" name="fotoR" style="margin-right: min(3%, 10px); background-size:contain;background-repeat: no-repeat; object-fit: none;" width="200" height="200">
      <img srcset="../../media/addPic.png 2x"  id="img4R" name="fotoR" style="background-size:contain;background-repeat: no-repeat; object-fit: none;" width="200" height="200">
      <input type="file" id="imgupload" accept="image/*" style="display:none"/>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="scnameor">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="scname" id="scnameor" minlength="3"
               maxlength="15" required="true" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="scfcnacor">Fecha de nacimiento:</label>
      <div class="col-sm-10">
        <input type="date"  class="form-control" id="scfcnacor" required="true" />
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="scgeneroor">Genero:</label>
      <div class="col-sm-10">
        <select name="scgenero" id="scgeneroor" class="form-control">
          <option value="m">Masculino</option>
          <option value="f">Femenino</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="scbiografiaor">Biografía:</label>
      <div class="col-sm-10">
        <textArea rows="4" cols="60" maxlength="500" class="form-control" name="scbiografia" id="scbiografiaor"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name= "registar" id="registrar">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}