{% extends "../../public/SinCompromiso.html" %}
{% block scripts %}
<script type="text/javascript" src="/controllers/TestSCController.js"></script>
{% endblock %}
{% block contenido_principal %}
<style>
 td {
    border: 1px solid black;
  }
</style>
<h1>Espacio para la ejecución de test </h1>
<p>************************************************************************</p>
<table class="default">

  <tr>

    <td>PUR1</td>
    <td>PUR2</td>
    <td>PUR3</td>
    <td>PUR4</td>
    <td>PUR5</td>
    <td>PUR6</td>
    <td>PUR7</td>
    <td>PUR8</td>
    <td>PUR9</td>
    <td>PUR10</td>

  </tr>

  <tr>

    <td id="PUR1">A</td>
    <td id="PUR2">A</td>
    <td id="PUR3">A</td>
    <td id="PUR4">A</td>
    <td id="PUR5">A</td>
    <td id="PUR6">A</td>
    <td id="PUR7">A</td>
    <td id="PUR8">A</td>
    <td id="PUR9">A</td>
    <td id="PUR10">A</td>

  </tr>


</table>
<p>************************************************************************</p>
<div id="mensajesDelTest"></div>

<p>************************************************************************</p>
<table class="default">

  <tr>

    <td>PUP1</td>
    <td>PUP2</td>
    <td>PUP3</td>
    <td>PUP4</td>
    <td>PUP5</td>

  </tr>

  <tr>

    <td id="PUP1">A</td>
    <td id="PUP2">A</td>
    <td id="PUP3">A</td>
    <td id="PUP4">A</td>
    <td id="PUP5">A</td>

  </tr>


</table>
<p>************************************************************************</p>
<div id="mensajesDelTest2"></div>


<p>************************************************************************</p>
<table class="default">

  <tr>

    <td>PUPP1</td>
    <td>PUPP2</td>
    <td>PUPP3</td>
    <td>PUPP4</td>
    <td>PUPP5</td>
    <td>PUPP6</td>
    <td>PUPP7</td>
    <td>PUPP8</td>
    <td>PUPP9</td>
    <td>PUPP10</td>

  </tr>

  <tr>

    <td id="PUPP1">A</td>
    <td id="PUPP2">A</td>
    <td id="PUPP3">A</td>
    <td id="PUPP4">A</td>
    <td id="PUPP5">A</td>
    <td id="PUPP6">A</td>
    <td id="PUPP7">A</td>
    <td id="PUPP8">A</td>
    <td id="PUPP9">A</td>
    <td id="PUPP10">A</td>

  </tr>


</table>
<p>************************************************************************</p>
<div id="mensajesDelTest3"></div>
{% endblock %}