{% extends "../../public/SinCompromiso.html" %}
{% block scripts %}
<script type="text/javascript" src="/controllers/VerEnlacesController.js"></script>
{% endblock %}
{% block contenido_principal %}

<div class="text-center" id="verEnlacesSC">
    <p id="hayAlgo" style="display: none">{{hayAlgo}}</p>
    <p id="idDelPosE" style="display: none">{{enlace.userId}}</p>
    {% if hayAlgo %}
    <div class="text-center">
      {% set ind = 0 %}
      <table style="display: none">
        <tr style="display: none">
            <td id="cantidadFotosSE" style="display: none">{{enlace.cantidadImagenes}}</td>
      {% for foto in enlace.imagenes %}
      {% set fotoId = "enlaceIm"+ind+"E"%}
          <td id="{{fotoId}}" style="display: none">{{foto}}</td>
      {% set ind = ind+1 %}
      {% endfor %}
        </tr>
      </table>
      <button title="Imagen anterior" class="btn-circle btn-xlbis" id="enlacePicAnterior">
        <i class="fas fa-chevron-left" style="color:white; font-size: 1.75em !important;"></i>
      </button>
              <img alt= "Imagen del usuario" src="" id="fotoDisplayE" width="400" height="400" style="object-fit: none;">

      <button title="Imagen siguiente" class="btn-circle btn-xlbis" id="enlacePicSiguiente">
        <i class="fas fa-chevron-right" style="color:white;font-size: 1.75em  !important;"></i>
      </button>
    </div>
    {% if enlace.esMeMola%}
    <p  id="mensajeRecibidoDeMeMola" style=" word-wrap: break-word; margin-right: 50px; margin-left: 50px; margin-top: 5px">{{enlace.mensajeMeMola}}</p>

    <h3 style="text-align: center"><b>{{enlace.nombre}}, {{enlace.edad}}</b> A {{enlace.distancia}} km 🥰 <b>LE MOLAS!!!</b></h3>
    {% else %}

    <h3 style="text-align: center"><b>{{enlace.nombre}}, {{enlace.edad}}</b> A {{enlace.distancia}} km</h3>

    {%endif%}
  <div style="text-align: center">
      <button title="Paso" class="btn-circle btn-xxl" id="pasoB">
        <i class="fas fa-times" style=" color: red; font-size: 2em !important;"></i>
      </button>

      {% if enlace.puedoDarMeMola%}
      <button title="Me Mola" class="btn-circle btn-xxl" id="meMolaB">
        <i class="fas fa-grin-hearts" style="color: yellow; font-size: 2em !important;"></i></button>
      {%endif%}


      <button title="Me gusta" class="btn-circle btn-xxl" id="meGustaB">
        <i class="fas fa-thumbs-up" style="color: gold; font-size: 2em !important;"></i></button>

      <br>
      {% if enlace.puedoDarMeMola%}
      <div name="cuadroMeMola" style="text-align: center; display: none" >
          <textarea name="cuadroMeMola" id="mensajeMeMola" maxlength="300" style="width: 300px; hight:75px; display: none; margin-right: 35%; margin-left: 35%"></textarea>
          <button name="cuadroMeMola" id="enviarMensajeMeMola" class="eleganceS" style=" display: none; margin-top: 3px; margin-right: 40%;  margin-left: 55%" >Enviar</button><br>
      </div>
      {%endif%}

  </div>

  <div style="text-align: center;">
    <p  id="verBioSSE" style="display:none; margin-right: 50px; margin-left: 50px">{{enlace.biografia}}</p>

      <div name="cuadroDenunciaSSE" style="text-align: center; display: none" >
          <textarea name="cuadroDenunciaSSE" maxlength="300" id="motivoDenunciaSSE" style="width: 300px; hight:75px; display: none; margin-right: 35%; margin-left: 35%"></textarea>
          <button name="cuadroDenunciaSSE" id="enviarDenunciaSSE" class="eleganceS" style=" display: none; margin-top: 3px; margin-right: 40%;  margin-left: 55%" >Enviar</button><br>
      </div>
      <button id="denunciarPerfilSSE" class="eleganceM" style="display:none; margin-right: 45%; margin-left: 45%" >Denunciar</button><br>


        <button id="bloquearPerfilSSE" class="eleganceM" style="display:none; margin-right: 45%;  margin-left: 45%" >Bloquear</button><br>
    <button title="Ver mas" id="seeMoreB" class="btn-semi-rounded btn-xxl">
      VER MAS</button>
  </div>
{% else %}
    <div class="text-center loadingio-spinner-heart-su8qxmundcl"><div class="text-center ldio-dhhtjs8e0aw">
        <div class="text-center"><div class="text-center"></div></div>
    </div></div>
{% endif%}
</div>

{% endblock %}