{% extends "../../public/SinCompromiso.html" %}
{% block scripts %}
<script type="text/javascript" src="/controllers/VerPerfilSCController.js"></script>
{% endblock %}
{% block contenido_principal %}

<div class="text-center" id="verPerfilSC">
    <div class="text-center">
      {% set ind = 0 %}
      <table style="display: none">
        <tr style="display: none">
            <td id="cantidadFotosSE" style="display: none">{{enlace.cantidadImagenes}}</td>
      {% for foto in enlace.imagenes %}
      {% set fotoId = "enlaceIm"+ind+"E"%}
          <td id="{{fotoId}}" style="display: none">{{foto}}</td>
      {% set ind = ind+1 %}
      {% endfor %}
        </tr>
      </table>
      <button title="Imagen anterior" class="btn-circle btn-xl" id="enlacePicAnterior">
        <i class="fas fa-chevron-left" style="color:white; font-size: 1.75em !important;"></i>
      </button>
              <img alt="Imagen del usuario" src="" id="fotoDisplayE" width="400" height="400" style="object-fit:none">

      <button title="Imagen siguiente" class="btn-circle btn-xl" id="enlacePicSiguiente">
        <i class="fas fa-chevron-right" style="color:white;font-size: 1.75em  !important;"></i>
      </button>
    </div>
    {% if enlace.esMeMola%}
    <p  id="mensajeRecibidoDeMeMola" style="margin-right: 50px; margin-left: 50px; margin-top: 5px">{{enlace.mensajeMeMola}}</p>

    <h3 style="text-align: center"><b>{{enlace.nombre}}, {{enlace.edad}}</b> A {{enlace.distancia}} km 🥰</h3>
    {% else %}

    <h3 style="text-align: center"><b>{{enlace.nombre}}, {{enlace.edad}}</b> A {{enlace.distancia}} km</h3>

    {%endif%}
 
  <div style="text-align: center;">
    <p  id="verBioSSE" style="display:none; margin-right: 50px; margin-left: 50px">{{enlace.biografia}}</p>



  </div>
</div>

{% endblock %}