{% extends "../public/base.html" %}
{% block contenido_plantilla %}
<head>
    <meta charset="utf-8">
    <meta name="description" content="Sin Compromiso">
    <meta name="author" content="@uo257493">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Compromiso</title>

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
    <script src="./controllers/IndexController.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body>
<header>
    <div id="mainHeader" class="container-fluid">

            <div class="text-center">
                <img class="mb-4" src="media/Logo_escala_inicioSolid.png" alt="" width="500" height="200">
            </div>
    </div>

</header>

<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title" id="titleApp">Inicia sesion con uno de los proveedores</h5>

        <div style="text-align: center">
            <input type="button" id="loginSComm" class="btn btn-outline-primary btn-lg" value="Solid Community">

            <input type="button" id="loginSW" class="btn btn-outline-primary btn-lg" value="Solid Web">
            <input type="button" id="loginIn" class="btn btn-outline-primary btn-lg" value="Inrupt">
        </div>

    </div>

    <p class="card-text" id="subTitleApp">¿Que es <a href="https://solid.inrupt.com/">Solid</a>?</p>
</div>
</body>

{% endblock %}