{% extends "base.html" %}
{% block contenido_plantilla %}
<head>
    <title>Sin Compromiso </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../style/Rounded.css"/>
    <link rel="stylesheet" href="../style/HorizontalDiv.css"/>
    <link rel="stylesheet" href="../style/Modal.css"/>
    <link rel="stylesheet" href="../style/LoadingBar.css"/>
    <link rel="stylesheet" href="../style/Chat.css"/>
    <link rel="stylesheet" href="../style/EleganceButton.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/controllers/SinCompromisoController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    {% block scripts %} {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="height: 100%">

<!-- Barra de Navegación superior -->
<nav class="navbar navbar-light" style="background-color: #f40b51; height: 25% !important;">

    <div class="contenedor" style="justify-content: space-between !important; height: 50%">
        <div class="contenido text-left" style="width: 33%">
        </div>
        <div class="contenido text-center" style="width: 33%">

            <img src="../media/Logo_escala_PresidenciaSC.png" alt="logo"/>
        </div>
        <div class="contenido text-right" style="width: 33%">
        <button class="btn-circle btn-lg" id="dameManual" style="padding-right: 0px !important; padding-left: 0px !important;">
            <i class="fa fa-question" style="font-size: 1.1em !important;"></i>
        </button>

        <button class="btn-circle btn-lg" id="hazmeLogout" style="padding-right: 0px !important; padding-left: 0px !important;">
            <i class="fa fa-sign-out-alt" style="font-size: 1.1em !important;"></i>
        </button>
    </div>
    </div>

    <div class="contenedor">

        <div class="contenido">
            <button class="btn-circle btn-xl" id="abrePerfil">
                <i class="fa fa-user" style="font-size: 1.5em !important;"></i>
            </button>
        </div>

        <div class="contenido text-center">
            <button class="btn-circle btn-xl" id="abreSistemaEnlaces">
                <i class="fa fa-heart"  style="color:red; font-size: 1.5em !important;"></i>
            </button>
        </div>

        <div class="contenido text-right ">
            <button class="btn-circle btn-xl" id="abreChat">
                <i class="fa fa-comment-dots" style="font-size: 1.5em !important;"></i>
            </button>
        </div>

    </div>

</nav>


<div id="containerG" class="container" style="height: 75%; width: 99.5%">
    <!-- Contenido --> {% block contenido_principal %} <!-- Posible contenido por defecto --> {% endblock %}
</div>


</body>

{% endblock %}